body {
    margin: 0;
    background-color: #3C8CFD;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    width: 400px;
    height: 550px;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

input{ 
    width: 80%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    padding-left: 12px;
    font-size: 16px;
}

.add-button{
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.todo-item {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 219, 225);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    margin-top:16px;
}

.content {
    width: 100%;
}